@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

p, input::-webkit-input-placeholder, h1, .note_input_box {
    font-size: 3.1vh;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5vh;
}

input, select {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 3.1vh;
    padding: 0;
    margin: 0;
}

.letter_input {
    width: 2.5vh;
    font-size: 3.1vh;
}

select {
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
}

select:hover {
    border: 1px solid black;
}

.fakeSpace {
    display: none;
}

.inline_container {
    display: flex;
    flex-direction: row;
}

#__notations_container__ {
    border: 1px solid black;
    padding: 0 8px 0 8px;
    border-radius: 10px;
    margin-left: 30px;
}


#__notations_container__ h1 {
    width: 130px;
    margin-bottom: 0;
}

.note_or_quote_text {
    margin: 1.5vh 0 1vh 0;
}

.cross_button {
    float: right;
}

.add_button {
    margin: 1vh;
}

.cross_button,
.add_button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}


.cross_button:hover,
.cross_button:focus,
.add_button:hover,
.add_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.vertical_center {
    display: flex;
    align-items: center;
}

.delete_button_container {
    margin-left: auto;
    padding: 0 2vh 0 2.5vh;
}

.note_input_box {
    outline: 1px solid black;
    padding: 4px, 6px;
    border-radius: 2px;
    width: 100%;
}

#__error_message__exit__ {
    width: 10vh;
    float: none;
    margin: 0 auto;
}

#__error_message_modal_content__ {
    margin: 5% auto
}